# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# vs code
.vscode

# other
eclipse
run
runs/
.worktrees/
resume.txt
.agents
.codex


# Files from Forge MDK
forge*changelog.txt

# generated data files cache
/src/generated/resources/.cache/